<h2>All Phones Available</h2>

<div class="phonelist">
  <div class="card" *ngFor="let phone of phones">
    <div class="card-header">
      <h4 class="text-warning">{{phone.name}}</h4>
    </div>
    <div class="card-block row">
      <div class="col-2">
        <img [src]="phone.imageUrl">
      </div>
      <div class="col-10 about-phone">
        <h5 class="card-title text-primary font-weight-normal">{{phone.name}}</h5>
        <p class="card-text">{{phone.snippet}}</p>
        <a href="#" class="btn btn-primary" [routerLink]="['/details', phone.id]">See details</a> </div>
    </div>
  </div>
</div>